
#message_controler_friends{
    display:none;
}
#friend_connect_loader
{
    width:100%;
    height:32px;
    margin:10px 0;
    text-align:center;
}

.friend_email_loader, #friend_connect_loader
{
    display:none;
}
